# Compiled output
*.exe
*.out
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib

# Build folders (common in C++ IDEs)
build/
out/
x64/
x86/
Debug/
Release/

# IDE files
.vs/
*.vcxproj.user
*.suo
*.sdf
*.opensdf
*.VC.db

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile